/* CSS */

/*===========================================================*/
/*          		       GLOBAL                            */
/*===========================================================*/

*{
	box-sizing: border-box;
}

h2{
	font-size: 20px;
}

#pageStructure , #pageJoueur , #pageAttendre , #pageAdversaire , #pageResultat {
	color : GhostWhite;
	font-family: sans-serif;
}

/*===========================================================*/
/*          		  IMAGE / GIF                            */
/*===========================================================*/

.logo {
	width:1500px;
}

.gif_salon_multi, .gif_cat {
	width:300px;
}

.logo_reponse_defi {
	width:1150px;
}

.plateau {
	background-image: url("../img/table_de_jeu.png");
	background-repeat: no-repeat;
	background-size: contain;
	height: 800px;
	width: 100%;
}

/* CARTES */
.carte1Riviere, .carte2Riviere, .carte3Riviere, .carte4Riviere, .carte5Riviere , .cartes{
	width:75px;
}

.carteAdversaire {
	transform: rotate(90deg);
	position: relative; 
	top: 20px;
	left: -100px;
}

.carteAdversaire2 {
	position: relative;
	top: -28px;
}

/*===========================================================*/
/*                       PAGE JOUEUR                         */
/*===========================================================*/

#part1, #part2, #part3 {
	width: 33%;
}

#part1{
	position: relative;
	top: -20px;
	left: 15px;
}

#part2 {
	position: relative;
	bottom: -25px;
}


#part3 {
	position: relative;
	bottom: -270px;
	left: -170px;
}

#pageJoueur {
	text-align: center;
	padding-top: 215px;
	line-height: 20px;
	display: flex;
}




















