/* CSS */

#pageJoueur .cartes, #pageAttendre .cartes , #pageAdversaire .cartes , #pageResultat .cartes {
	width: 100px;
	
}
#pageStructure , #pageJoueur , #pageAttendre , #pageAdversaire , #pageResultat {
	color : GhostWhite;
	font-family: sans-serif;
}
